.App {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px,auto);
}

.App > div {
  padding: 1em;
  background-color: #eee
}

.App > div:nth-child(odd) {
  padding: 1em;
  background-color: #ddd
}

.box1 {
  grid-column: 1/2;
}

.box2 {
  display: grid;
  grid-column: 2/4;
  padding: .5em;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  align-items: center;
  grid-gap: 1em;
}

.box2 > div {
  background-color: #ccc;
  padding: 2em;
}
.box3 {
  grid-column: 1/2;
  grid-row: 2/3;
  grid-gap: 1em;
}

.box3 > div {
  padding: 1em;
  background-color: #bbb;
  margin: 1em;
}

.box3 > div >p {
  font-size: xx-small;
  
}

.box4 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.box5 {
  grid-column: 2/3;
  grid-row: 2/4;
}

.expenselist {
  align-items: center;
  padding: 1em;
}

.dataheaders { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-row-gap: 1em;
}

.datarow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-row-gap: 1em;

}

.datarow >tr >td {
  background-color:rgb(247, 171, 57);
  padding: 1em;
  
}

.datarow >tr >td:nth-child(odd) {
  background-color:rgb(248, 230, 204);

}

.box6 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.postform{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: .5em;
}

.form {
  padding: 1em;
  background-color: #eee;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  color: #282c34;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
